{
    "extends": "airbnb/base",
    "rules": {
      "prefer-arrow-callback": 0,
      "comma-dangle": 0,
      "func-names": 0,
      "space-before-blocks": 0,
      "prefer-const": 1,
      "prefer-template": 1,
      "object-shorthand": 1,
      "no-param-reassign": 0,
      "no-console": [2, {"allow": ["log", "warn", "error"]}]
    }
}
