<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="apple-touch-icon" href="http://u1.sinaimg.cn/upload/h5/img/apple-touch-icon.png">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
</head>
<body>
<% if (htmlWebpackPlugin.options.content) { %>
<%= htmlWebpackPlugin.options.content %>
<% } %>
</body>
</html>